<main class="container">
<div class="row">
    <div class="col-sm-12">
        <h1>Energy</h1>
        <h2>of the </h2>
        <h1>Future</h1>
        <h2>(Where we are....and where we should be going next)</h2>
  <!-- <img id="landing"src="http://via.placeholder.com/1500x927" class="img-responsive" alt="Turbine">-->
  <!--</img>-->
   </div>
</div>
<div class="row" id="landingtext">
    <div class="col-sm-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque illo voluptates illum quidem distinctio amet molestias ex id.</p>
    </div>
</div>
</main>
 